body{
    background-color:#e3fdfd;
  }

  hr{
    
    border-style:none;
    border-top-style:dotted;
    border-color:grey;
    border-width: 5px;
    width:5%;
  }

  h1{
      color:#393e46;
  }

  h3{
      color:#527318;
  }

  a{
      color:#035aa6;
  }